@model AsaTeb.WebFramework.Models.CatalogModel

<h1>Filter Candidates</h1>

@await Html.PartialAsync("_Criteria", Model.CriteriaModel)
<hr />
<div class="my-choice card"></div>
<div class="container">
    <div class="row">
        @foreach (var candidate in Model.CandidatesModel)
        {
            <div class="col-md-3">
            <div id="@candidate.CandidateId" class="card card-custom">
                <div class="card-header text-center text-black-50">
                    @candidate.FullName
                </div>
                <img src="@candidate.ProfilePicture" 
                     class="img-thumbnail rounded-circle image-custom" alt="@candidate.FullName">
                <div class="card-body">
                    <h6 class="card-title">@candidate.Email</h6>

                    <p class="card-text">
                        <h6>Experiences: </h6>
                        <ul>
                            @foreach (var experience in candidate.Experience)
                            {
                                <li>@experience.TechnologyName (@experience.YearsOfExperience years)</li>
                            } 
                        </ul>
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn-select btn btn-info form-control">
                        <i class="fa fa-check"></i> Select
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
</div>