@model IEnumerable<AsaTeb.WebFramework.Models.CandidateModel>

<h1>All Candidates</h1>
@{
    foreach (var candidate in Model)
    {
        <img src="@candidate.ProfilePicture"/>
        <ul>
            <li>@candidate.CandidateId</li>
            <li>@candidate.FirstName</li>
            <li>@candidate.LastName</li>
            <li>@candidate.Barcode</li>
            <li>@candidate.CanSwim</li>
            <li>@candidate.Dad</li>
            <li>@candidate.Mom</li>
            <li>@candidate.Email</li>
            <li>@candidate.FavoriteMusicGenre</li>
            <li>@candidate.Gender</li>
        </ul>
        <h5>Experiences of @candidate.FirstName</h5>

        foreach (var experience in candidate.Experience)
        {
            <ul>
                <li>Technology Id: @experience.TechnologyId</li>
                <li>Technology name: @experience.TechnologyName</li>
                <li>Years of experience: @experience.YearsOfExperience</li>
            </ul>
        }

        
    }
}