@model IEnumerable<AsaTeb.WebFramework.Models.CandidateModel>

<h1>All Candidates</h1>

<div class="container">
    <div class="row">
        @foreach (var candidate in Model)
        {
            <div class="col-md-3">
            <div id="@candidate.CandidateId" class="card card-custom">
                <div class="card-header text-center text-black-50">
                    @candidate.FullName
                </div>
                <img src="@candidate.ProfilePicture" class="img-thumbnail rounded-circle" alt="@candidate.FullName">
                <div class="card-body">
                    <h6 class="card-title">@candidate.Email</h6>

                    <p class="card-text">
                        <select name="tech-select" class="tech-select form-select">
                            <option class="placeholder-glow">Select ...</option>
                            @foreach (var experience in candidate.Experience)
                            {
                                <option value="@(experience.TechnologyId)">
                                    @experience.TechnologyName (@experience.YearsOfExperience years)
                                </option>
                            }
                        </select>
                    </p>
                    <div class="col-md-12">
                        <button id="btn-select" class="btn-select btn btn-info form-control">
                            <i class="fa fa-check"></i> Select
                        </button>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>